<div class="general">

  <div class="left">
    <p>ELIGE</p>
    <p>Gobierno Escolar 2021</p>
  </div>

  <div class="center">
    <img src="/assets/images/logo.jpeg" height="200px" />
  </div>

  <div class="right">
    <p>Colegio CEDID San Pablo</p>
    <p>Bienvenido(a)</p>
    <p>{{voter | uppercase}}</p>
  </div>

</div>

<h1 class="title">Seleccione una corporación</h1>
<mat-grid-list cols="2" rowHeight="600px" class="candidates">
  <ng-container *ngFor="let corporation of corporations">
    <mat-grid-tile *ngIf="gruops.time == corporation.time">

      <div class="example-ripple-container mat-elevation-z4" (click)="voteCorporation(corporation._id)" matRipple
        [matRippleCentered]="true">
        <img src="{{corporation.image}}" />
        <p>{{corporation.corporation}}</p>
      </div>

    </mat-grid-tile>
  </ng-container>
</mat-grid-list>

<app-footer></app-footer>
